<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container-fluid">

    <div class="row justify-content-center align-items-center">
      <div class="col-xl-11 d-flex align-items-center justify-content-between">
        <a class="navbar-brand navbar-logo" href="#">
          <img src="../../../assets/ct-logo.png" class="img-fluid" width="200" height="200" alt="">
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#banner">Sobre nós</a></li>
            <li><a class="nav-link scrollto" href="#about">Nossas filiais</a></li>
            <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
    </div>

  </div>
</header><!-- End Header -->

<!-- ======= Banner Section ======= -->
<section id="banner">
  <div class="banner-container">
    <div id="bannerCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Connecting Things</h2>
              <p class="animate__animated animate__fadeInUp">Vem conectar com a gente!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- <iframe src="../../../assets/vr.mp4" frameborder="0" allowfullscreen allow='autoplay'></iframe> -->
  <video autoplay controls loop>
    <source src="../../../assets/vr.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section><!-- End banner Section -->